mixin unitNews(obj)
    .unit(class=obj.bgColor)
        h2.unit__title.unit__title--big-bold.unit__title--med-width.unit__title--letter-spacing1.unit__title--white-text= obj.unitTitle
        p.unit__info.unit__info--norm-medium.unit__info--white-blue-text.unit__info--fix-for-news= obj.date
        h3.unit__title.unit__title--med-regular.unit__title--white-text.unit__title--fix-for-news= obj.title
        p.unit__info.unit__info--norm-medium.unit__info--white-blue-text= obj.commentsCount
        div.unit__horiz-inline-wrap.unit__horiz-bottom-wrap
            hr.unit__horizontal.unit__horizontal--white-solid.unit__horizontal--width-small.unit__horizontal--inline
            hr.unit__horizontal.unit__horizontal--white-solid.unit__horizontal--width-small.unit__horizontal--opasity02.unit__horizontal--inline
            hr.unit__horizontal.unit__horizontal--white-solid.unit__horizontal--width-small.unit__horizontal--opasity02.unit__horizontal--inline