mixin unitIconButton(obj)
    .unit(class=obj.bgColor)
       div(class=obj.locationStyles)
           button.icon(class=obj.btnStyleLayer0)
               div.icon(class=obj.btnStyleLayer1)
                   div.icon(class=obj.btnStyleLayer2)

           span.unit__info(class=obj.infoStyle)= obj.infoValue